<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ServletApp2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>param1</param-name>
  	<param-value>ContextValue1</param-value>
  </context-param>
  
  <filter>
  	<filter-name>f1</filter-name>
  	<filter-class>com.hsbc.filters.MyFilter1</filter-class>
  </filter>
  <filter>
  	<filter-name>f2</filter-name>
  	<filter-class>com.hsbc.filters.AuthFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>f3</filter-name>
  	<filter-class>com.hsbc.filters.AAuthFilter</filter-class>
  </filter>
  
  
  
   <filter-mapping>
  	<filter-name>f1</filter-name>
  	<url-pattern>/new</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>f3</filter-name>
  	<url-pattern>/new</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>f1</filter-name>
  	<url-pattern>/demo</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>f3</filter-name>
  	<url-pattern>/demo</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>f2</filter-name>
  	<url-pattern>/demo</url-pattern>
  </filter-mapping>
  
</web-app>